/**
 * @file
 * CSS file for testimonials entries.
 */

.block-testaments .node-testimonials-form .form-item-title input,
.block-testaments .node-testimonials-form .field-name-testimonial-name input,
.block-testaments .node-testimonials-form .field-name-testimonial-message textarea {
  width: 100%;
}

.field-name-testimonial-rating {
  display: none;
}

.page-admin-config-testaments .fieldset-wrapper .form-item-testaments-rating-enable span.field-prefix,
.page-admin-config-testaments .fieldset-wrapper .form-item-testaments-rating-status span.field-prefix {
  width: 20%;
  display: inline-block;
}

.node-testimonials-form span {
  display: inline-block;
}

i.fa.fa-star,
i.fa.fa-star-o {
  font-size: 20px;
  padding-right: 5px;
}
